stages:
  - build
  - push

build:
  stage: build
  image: maven:3.9-eclipse-temurin-11
  script:
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - "*/target/*.jar"
    expire_in: 1 hour

push:
  stage: push
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t online-spaza/order-service:$CI_COMMIT_SHA ./order-service
    - docker build -t online-spaza/catalog-service:$CI_COMMIT_SHA ./catalog-service
    - docker build -t online-spaza/customer-service:$CI_COMMIT_SHA ./customer-service
    - docker build -t online-spaza/user-auth-service:$CI_COMMIT_SHA ./user-auth-service
    - docker build -t online-spaza/api-gateway:$CI_COMMIT_SHA ./api-gateway
  only:
    - main
