apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-service
  namespace: online-spaza
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalog-service
  template:
    metadata:
      labels:
        app: catalog-service
    spec:
      containers:
      - name: catalog-service
        image: catalog-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8081
        env:
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://mysql.online-spaza.svc.cluster.local:3306/salesmanager"
        - name: SPRING_DATASOURCE_USERNAME
          value: "root"
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-root
              key: password
---
apiVersion: v1
kind: Service
metadata:
  name: catalog-service
  namespace: online-spaza
spec:
  selector:
    app: catalog-service
  ports:
  - port: 8081
    targetPort: 8081
