apiVersion: v1
kind: Service
metadata:
  name: catalog-service
  namespace: online-spaza
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
  selector:
    app: catalog-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-service
  namespace: online-spaza
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalog-service
  template:
    metadata:
      labels:
        app: catalog-service
    spec:
      containers:
      - name: catalog-service
        image: online-spaza/catalog-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8081
        env:
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://mysql:3306/salesmanager?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true"
        - name: DB_PASSWORD
          value: "Qwbrty!"
