apiVersion: v1
kind: Service
metadata:
  name: customer-service
  namespace: online-spaza
spec:
  ports:
  - port: 8085
    targetPort: 8085
  selector:
    app: customer-service
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: online-spaza
spec:
  ports:
  - port: 8087
    targetPort: 8087
  selector:
    app: order-service
---
apiVersion: v1
kind: Service
metadata:
  name: user-auth-service
  namespace: online-spaza
spec:
  ports:
  - port: 8082
    targetPort: 8082
  selector:
    app: user-auth-service
