apiVersion: v1
kind: Service
metadata:
  name: user-auth-service
  namespace: online-spaza
spec:
  type: ClusterIP
  ports:
  - port: 8082
    targetPort: 8082
  selector:
    app: user-auth-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-auth-service
  namespace: online-spaza
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-auth-service
  template:
    metadata:
      labels:
        app: user-auth-service
    spec:
      containers:
      - name: user-auth-service
        image: online-spaza/user-auth-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8082
        env:
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://mysql:3306/salesmanager?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true"
        - name: DB_PASSWORD
          value: "Qwbrty!"
